@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Playwrite DK Loopet';
   src: url('./fonts/Playwrite_DK_Loopet/PlaywriteDKLoopet-VariableFont_wght.ttf') format('truetype');
   font-weight: 100 900;
   font-style: normal;
}

@font-face {
   font-family: 'Dancing Script';
   src: url('./fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
   font-weight: 100 900;
   font-style: normal;
}

@font-face {
   font-family: 'Cormorant Infant';
   src: url('./fonts/Cormorant_Infant/CormorantInfant-VariableFont_wght.ttf') format('truetype');
   font-weight: 100 900;
   font-style: normal;
}

@font-face {
   font-family: 'Cormorant Infant';
   src: url('./fonts/Cormorant_Infant/CormorantInfant-Italic-VariableFont_wght.ttf') format('truetype');
   font-weight: 100 900;
   font-style: italic;
}

@layer base {
   body {
      @apply bg-primary;
   }
}

@layer components {
   nav ul li:hover {
      @apply underline cursor-pointer;
   }

   footer a {
      @apply text-[0.7rem] md:text-[0.9rem] font-light w-fit cursor-pointer;
   }


}

.b-dotted {
   border-bottom: 2px dotted black;
}

footer a {
   border-bottom: 1px dotted transparent;

}

footer a:hover {
   border-bottom: 1px dotted white;
}

footer .get-started {
   border: 2px dotted white;
}

.beach-bg {
   background-image: url('../public/img/beach.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;

   p {
      text-shadow: 1px 1px 10px white;
   }
}

.project-dot {
   border-top: 2px dotted #333;
   border-bottom: 2px dotted #333;
}

.project-image canvas:nth-child(2) {
   display: none !important;
}